<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/cloudIcon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="avatar" src="/img/avatar.png" alt="profile picture">
        <p>Contact: </p>
        <p>{{social}}</p>
        <p>{{email}}</p>
    </div>
{{>footer}}
</body>
</html>